.header {
    text-align: center;
    color: #4669C8;
    margin-top: 20px;
}


#homepage_images {
    text-align: center;
    margin: 10px;
    padding: 10px;
    display: flex;
    justify-content: center;
    
}

body {
    background-color: #f9fafc;
}

.image_spacing {
    margin: 0 10px;
    border-radius: 3%;
}

.quote {
    font-family: 'Indie Flower';
    text-align: center;
    color: #EA3474;
    font-size: 1em;
}

.username {
    font-family: 'Indie Flower';
    text-align: center;
    color: #EA3474;
    font-size: 1em;
    margin-top: -7px
}

#login_signup {
    margin-top: 10px;
    text-align: center;
    justify-content: center;
}

.btn-primary {
    margin: 10px;
    width: 100px;
}

.form {
    display: inline-block;
    justify-content: center;
    margin: 10px;
    padding: 20px;
    width: 25%;
}

.block {
    display: block;
    width: 100%;
}

.center_me {
    display: flex;
    justify-content: center;
}


.login_button {
    width: 50%;
    margin-top: 20px;
    padding: 5px;
}

#add_dest {
    margin-bottom: 30px;
    height: 60%;
    width: 65px;
    padding: 5px;
}

#destinations {
    display: inline-block;
    height: 100%;
    margin-left: 2%;
}

.destination_cards {
    display: inline;
    /* margin: 10px; */
}

