<h1 class="header"> Login </h1> 
<div class="center_me">
    <card class="form">
    <form method="post" action="/login">
        <section> 
            <label class="block" for="email">Email </label>
            <input class="block" type="text" name="email" id="email">
        </section>
        <section class="block">
            <label class="block" for="password">Password </label>
            <input class="block" type="password" name="password" id="password">
        </section>
        <section class="block" style="text-align: center;">
        <button class="btn btn-primary" type="submit" style="width: 50%; margin-top: 20px; padding: 5px;">Log in</button>
        </section>
    </form>
    </card>
</div>