  <div class="header">
    <h1>Welcome to Nomad Tracker</h1> 
    <p class="quote"> Not all those who wonder are lost...</p>
  </div>
    <hr/>
    <div id="homepage_images">
        <img class="image_spacing" src="/images/great_story.jpg"  alt="austin" width="16%" height="11%">
        <img class="image_spacing" src="/images/utah_mountains.jpg"  alt="utah mountains" width="16%" height="11%">
        <img class="image_spacing" src="/images/whidbey_island.jpg"  alt="ocean" width="16%" height="11%">
        <img class="image_spacing" src="/images/zion.jpg"  alt="zions" width="16%" height="11%">
    </div>
    <div id="login_signup">
        <button class="buttons"> <a href="">Log in</a> </button>
        <button class="buttons"> <a href="">Sign up</a> </button>
    </div>

